<!-- HTML -->
<div class="box">
    <div class="creation-data">
        <p class="creationdate">7/7/77</p>
        <p class="creationtype">Scheduled release</p>
    </div>
    <div class="creationtext">
        <h1 class="creationtitle">Lorem ipsum dolor sit.</h1>
        <p class="creationtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, voluptatem veritatis exercitationem deleniti provident illum dicta dolorum voluptas repudiandae at vero maiores ea ipsam odit quis consequatur officiis vitae soluta.</p>
    </div>
</div>

<!-- CSS -->
<link rel="stylesheet" href="/src/components/creationsbox/creationsbox.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">