<!-- HTML -->
<div class="newsbox">
    <div class="newsbox-texts-box">
        <p class="newsbox-date">7/7/77</p>
        <h1 class="newsbox-title">Lorem, ipsum dolor.</h1>
        <p class="newsbox-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem similique hic iure ratione eveniet esse facilis perferendis fugiat magnam?</p>
        <p class="newsbox-type">Gaming</p>
    </div>
    <div class="newsbox-views-box">
        <p class="newsbox-views">👁 1.7k</p>
    </div>
</div>

<!-- CSS -->
<link rel="stylesheet" href="/src/components/newsbox/newsbox.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">