<!-- HTML -->
<nav class="navbar">
    <h1 class="navbar-name">Marcelinium Inc</h1>
    <ul class="navbar-left">
        <li class="navbar-item"><a href="/index.html/">Base</a></li>
        <li class="navbar-item"><a href="/src/pages/creations.html">Creations</a></li>
        <li class="navbar-item"><a href="/src/pages/updates.html">Updates</a></li>
        <li class="navbar-item"><a href="/src/pages/behind-the-scenes.html">Behind the Scenes</a></li>
    </ul>

    <input type="text", placeholder="Search", class="searchbarNav">

    <ul class="navbar-right">
        <li class="join-item"><a href="/src/pages/join.html">Join</a></li>
        <li class="navbar-item"><a href="/src/pages/return.html">Return</a></li>
    </ul>
</nav>

<!-- CSS -->
<link rel="stylesheet" href="/src/components/navbar/navbar.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
