<!-- HTML -->
<div class="newsboxExtra">
    <div class="newsboxExtra-texts-box">
        <p class="newsboxExtra-date">7/7/77</p>
        <h1 class="newsboxExtra-title">Lorem, ipsum dolor.</h1>
        <p class="newsboxExtra-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem similique hic iure ratione eveniet esse facilis perferendis fugiat magnam?</p>
        <p class="newsboxExtra-type">Gaming</p>
    </div>
    <div class="newsboxExtra-views-box">
        <p class="newsboxExtra-views">👁 1.7k</p>
    </div>
</div>

<!-- CSS -->
<link rel="stylesheet" href="/src/components/newsboxExtra/newsboxExtra.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">