<!-- HTML -->
<div class="supportbox">
    <h1 class="supportboxtitle">Lorem, ipsum dolor.</h1>
    <div class="supportboxcontent">
        <p class="contenttext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro quibusdam, culpa itaque ab, eaque asperiores excepturi blanditiis, quidem laboriosam impedit atque quasi minima voluptatum non perferendis distinctio perspiciatis commodi odio.</p>
    </div>
    <p class="supportboxdate">7/7/77</p>
</div>

<!-- JS -->
<script src="/src/assests/lib/jquery.js"></script>
<script src="/src/components/supportbox/supportbox.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="/src/components/supportbox/supportbox.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">