<!-- HTML -->
<div class="releasebox">
    <div class="releasebox-texts">
        <h1 class="releasebox-name">Lorem, ipsum.</h1>
        <p class="releasebox-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, provident. Ullam voluptatem optio inventore. Facilis.</p>
    </div>
    <div class="releasebox-data">
        <p class="releasebox-date">1/1/26</p>
        <p class="releasebox-type">Released</p>
    </div>
</div>

<!-- CSS -->
<link rel="stylesheet" href="/src/components/releasebox/releasebox.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">