<!-- HTML -->
<div class="bottombar">
    <h1 class="bottombar-title">Marcelinium Inc</h1>
    <ul class="leftbottombar">
        <li class="bottombar-item-join"><a href="/src/pages/join.html">Join</a></li>
        <li class="bottombar-item"><a href="/src/pages/return.html">Return</a></li>
    </ul>
    <ul class="rightbottombar">
        <li class="bottombar-item"><a href="/src/pages/join.html">About Us</a></li>
        <li class="bottombar-item"><a href="/src/pages/join.html">Support us</a></li>
        <li class="bottombar-item"><a href="/src/pages/join.html">Feedback</a></li>
    </ul>
</div>

<!-- JS -->
<script src="/src/assests/lib/jquery.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="/src/components/bottombar/bottombar.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">